flows.json
[{"id":"cdae95e1.ea0468","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9a8557c3.5f1728","type":"http in","z":"cdae95e1.ea0468","name":"","url":"/alert","method":"get","upload":false,"swaggerDoc":"","x":120,"y":320,"wires":[["d491d140.1bc73"]]},{"id":"b4a6bec6.9c489","type":"debug","z":"cdae95e1.ea0468","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1470,"y":280,"wires":[]},{"id":"c948fc82.446dd","type":"json","z":"cdae95e1.ea0468","name":"","property":"payload[\"incident_type\"]","action":"","pretty":false,"x":1290,"y":280,"wires":[["b4a6bec6.9c489","5dd8ecfb.325da4"]]},{"id":"d491d140.1bc73","type":"json","z":"cdae95e1.ea0468","name":"","property":"payload[\"auth\"]","action":"","pretty":false,"x":310,"y":240,"wires":[["5bfd1e26.81814"]]},{"id":"1f38d8e3.53bb77","type":"json","z":"cdae95e1.ea0468","name":"","property":"payload[\"personal_details\"]","action":"","pretty":false,"x":1130,"y":240,"wires":[["c948fc82.446dd"]]},{"id":"e580de06.bdd52","type":"comment","z":"cdae95e1.ea0468","name":"Auth decode","info":"Decode auth property, check against database to see if is valid, if not, send bad response code","x":330,"y":200,"wires":[]},{"id":"6267c144.49fbb","type":"comment","z":"cdae95e1.ea0468","name":"Personal Details decode","info":"","x":1190,"y":200,"wires":[]},{"id":"40c6096d.0c7e98","type":"comment","z":"cdae95e1.ea0468","name":"Incident Type decode","info":"","x":1340,"y":240,"wires":[]},{"id":"75b7131a.97dc8c","type":"comment","z":"cdae95e1.ea0468","name":"Auth, personal details, and incident type data had to be serialised as JSON when sending the data, so have to decode the JSON data here to use","info":"","x":520,"y":160,"wires":[]},{"id":"5dd8ecfb.325da4","type":"switch","z":"cdae95e1.ea0468","name":"","property":"payload[\"incident_type\"][\"label\"]","propertyType":"msg","rules":[{"t":"eq","v":"Heart Rate","vt":"str"},{"t":"eq","v":"Accelerometer","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1450,"y":380,"wires":[["a6200cf6.66bd7"],["8ec24fce.5260c"]]},{"id":"9068124.f9eebf","type":"comment","z":"cdae95e1.ea0468","name":"Placeholder for Heart Rate model","info":"","x":1710,"y":320,"wires":[]},{"id":"a1b66aed.6090d8","type":"comment","z":"cdae95e1.ea0468","name":"Placeholder for Accelerometer model","info":"","x":1680,"y":660,"wires":[]},{"id":"a6200cf6.66bd7","type":"switch","z":"cdae95e1.ea0468","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"0.5","vt":"str"},{"t":"lt","v":"0.5","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1630,"y":360,"wires":[["f583aab6.a31af8"],["fc42cbd9.8cace8"]]},{"id":"8ec24fce.5260c","type":"switch","z":"cdae95e1.ea0468","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"0.5","vt":"str"},{"t":"lt","v":"0.5","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1670,"y":620,"wires":[["51f86d1.c35c294"],["fc42cbd9.8cace8"]]},{"id":"7e9c23bf.eb67ac","type":"change","z":"cdae95e1.ea0468","name":"","rules":[{"t":"set","p":"payload","pt":"flow","to":"{\"test123\":\"test123\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":500,"wires":[[]]},{"id":"5bfd1e26.81814","type":"switch","z":"cdae95e1.ea0468","name":"","property":"payload","propertyType":"flow","rules":[{"t":"hask","v":"payload[\"auth\"][\"username\"]","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":240,"wires":[["51737350.bf23ac","1f38d8e3.53bb77"],["195134ca.a0565b"]]},{"id":"2f821488.b1b32c","type":"comment","z":"cdae95e1.ea0468","name":"Username authentication","info":"","x":530,"y":200,"wires":[]},{"id":"195134ca.a0565b","type":"http response","z":"cdae95e1.ea0468","name":"","statusCode":"401","headers":{},"x":880,"y":380,"wires":[]},{"id":"d8b386bd.e955a8","type":"comment","z":"cdae95e1.ea0468","name":"Password authentication","info":"","x":770,"y":200,"wires":[]},{"id":"51737350.bf23ac","type":"http response","z":"cdae95e1.ea0468","name":"","statusCode":"200","headers":{},"x":1080,"y":300,"wires":[]},{"id":"77e43e57.e74","type":"comment","z":"cdae95e1.ea0468","name":"If auth fails, return status code 401","info":"","x":760,"y":420,"wires":[]},{"id":"87e6fdca.8e07e","type":"comment","z":"cdae95e1.ea0468","name":"If auth success, return status code 200, continue","info":"","x":1100,"y":340,"wires":[]},{"id":"92b0ac80.5473e","type":"inject","z":"cdae95e1.ea0468","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":500,"wires":[["7e9c23bf.eb67ac"]]},{"id":"51f86d1.c35c294","type":"http request","z":"cdae95e1.ea0468","name":"","method":"GET","ret":"txt","paytoqs":true,"url":"https://ems-teamstay.mybluemix.net/scdf","tls":"","persist":false,"proxy":"","authType":"","x":1990,"y":360,"wires":[[]]},{"id":"26cd06a7.5b3dba","type":"comment","z":"cdae95e1.ea0468","name":"If ML confidence > 0.5, GET request to SCDF endpoint","info":"","x":2120,"y":320,"wires":[]},{"id":"fc42cbd9.8cace8","type":"debug","z":"cdae95e1.ea0468","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1990,"y":560,"wires":[]},{"id":"b2892280.edf05","type":"comment","z":"cdae95e1.ea0468","name":"If ML confidence < 0.5, print to console for now","info":"","x":2090,"y":520,"wires":[]},{"id":"2f59c245.f3898e","type":"http in","z":"cdae95e1.ea0468","name":"","url":"/scdf","method":"get","upload":false,"swaggerDoc":"","x":120,"y":680,"wires":[["8e861679.2374a8","233c40a6.99811"]]},{"id":"ad0a4acd.8371b8","type":"comment","z":"cdae95e1.ea0468","name":"Set flow context for temporary handling of authentication","info":"","x":240,"y":460,"wires":[]},{"id":"233c40a6.99811","type":"debug","z":"cdae95e1.ea0468","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":330,"y":680,"wires":[]},{"id":"9aaf0413.6ca4e8","type":"comment","z":"cdae95e1.ea0468","name":"For now, just print some text at the SCDF endpoint","info":"","x":230,"y":640,"wires":[]},{"id":"8e861679.2374a8","type":"http response","z":"cdae95e1.ea0468","name":"","statusCode":"200","headers":{},"x":320,"y":740,"wires":[]},{"id":"f583aab6.a31af8","type":"change","z":"cdae95e1.ea0468","name":"","rules":[{"t":"set","p":"payload['incident_type']","pt":"msg","to":"payload['incident_type']['label']","tot":"msg"},{"t":"set","p":"payload['location']","pt":"msg","to":"payload['location']","tot":"msg"},{"t":"delete","p":"payload['personal_details']","pt":"msg"},{"t":"delete","p":"payload['auth']","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1780,"y":360,"wires":[["51f86d1.c35c294"]]}]